<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42444164877-p0d3kso16o7hlb6rf6kr1js2d6hg1i1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42444164877-p0d3kso16o7hlb6rf6kr1js2d6hg1i1n</string>
	<key>API_KEY</key>
	<string>AIzaSyDIXnC9JoggVxbqbTkoADAfyRQdRK_DodM</string>
	<key>GCM_SENDER_ID</key>
	<string>42444164877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esikmalazman.cocoabucks</string>
	<key>PROJECT_ID</key>
	<string>cocoabucks-527ac</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoabucks-527ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42444164877:ios:9b8be05b0f4dfd3599ea44</string>
</dict>
</plist>